BasedOnStyle: Google

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: LogicalBlock
IncludeBlocks: Regroup
SpacesInContainerLiterals: true
